<div class="container">
  <div class="head-section">
    <div class="row">
      <div class="col-md-3 brand-name">
        <h3>Social<span>Network</span></h3>
      </div>
      <div class="col-md-5">
        <div class="input-group mb-3">
          <input type="text" class="form-control form-style" placeholder="Find..">
          <div class="input-group-append">
            <button class="btn btn-outline-white" type="button"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="upload-btn-wrapper">
          <button class="btn-style-nav"><i class="fa fa-arrow-up" aria-hidden="true"></i> Upload</button>
          <input type="file" name="myfile" />
        </div>       
        </div>
      <div class="col-md-2">
        <div class="img-profile">
          <img src="../assets/images/profile.png">
        </div>
        <div class="meta-name">
          <p class="name-style">Waseem</p>
          <p class="lastnm-style">Arshad</p>
          <p class="inbox-value">13</p>
        </div>        
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="head-section">
    <div class="row">
      <div class="col-md-12 bradscrum-style">
        <label>Videos</label><span>/</span>
        <label>Poeple</label><span>/</span>
        <label>Documents</label><span>/</span>
        <label>Events</label><span>/</span>
        <label>Communities</label><span>/</span>
        <label>Favorites</label><span>/</span>
        <label>Channels</label>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="head-section">
    <div class="row">
      <div class="col-md-8">
        <!-- VIDEO SECTION -->
        <div class="row video-section">
          <div class="col-md-8">
            <div class="meta-title">
              <label>Videos</label>
              <a href=""><p>Browse all videos</p></a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="vidio-style-head">
              <iframe class="head-frame" src="https://www.youtube.com/embed/pVbcAafEzDc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="meta-vidio-desc">
                <label>How to improve your skills</label>
                <p>WaseermArshad</p>
                <p class="viewersvidio">1231 Views</p>
              </div>
            </div>
          </div>  
          <div class="col-md-4">
            <div class="vidio-style-head">
             <iframe src="https://www.youtube.com/embed/pVbcAafEzDc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="meta-vidio-desc">
                <p>MichaelKnight</p>
                <p class="viewersvidio">1231 Views</p>
              </div>
            </div>
            <div class="vidio-style-head">
            <iframe src="https://www.youtube.com/embed/pVbcAafEzDc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="meta-vidio-desc">
                <p>AhmadYasin</p>
                <p class="viewersvidio">2351 Views</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="vidio-style-head">
             <iframe src="https://www.youtube.com/embed/pVbcAafEzDc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="meta-vidio-desc">
                <p>Jhone Sencoer</p>
                <p class="viewersvidio">4351 Views</p>
              </div>
            </div>
          </div> 
          <div class="col-md-4">
            <div class="vidio-style-head">
             <iframe src="https://www.youtube.com/embed/pVbcAafEzDc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="meta-vidio-desc">
                <p>Jhon Doe</p>
                <p class="viewersvidio">232 Views</p>
              </div>
            </div>
          </div> 
          <div class="col-md-4">
            <div class="upload-vidio" data-toggle="modal" data-target="#myModal">
              <div class="row">
                <div class="col-md-4">
                  <img src="../assets/images/upload.png">
                </div>
                <div class="col-md-8 text-left">
                  <label>Upload</label>
                  <p>Your Own Video</p>
                </div>
              </div>
            </div>
          </div>  
        </div>
        <!-- END VIDEO SECTION -->
        <!-- PEOPLE SECTION -->
        <div class="row people-section">
          <div class="col-md-8">
            <div class="meta-title">
              <label>People</label>
              <a href=""><p>View All</p></a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="vidio-style-head">
              <img class="head-image" src="../assets/images/people.png">
              <div class="meta-vidio-desc">
                <label>Wassem Arshad</label>
                <p>User Interface Designer</p>
                <p class="viewersvidio">1631 Views</p>
              </div>
            </div>
          </div>  
          <div class="col-md-4">
            <div class="people-style-head">
             <img src="../assets/images/people.png">
              <div class="meta-people-desc">
                <p>MichaelKnight</p>
              </div>
            </div>
            <div class="people-style-head">
            <img src="../assets/images/people.png">
              <div class="meta-people-desc">
                <p>Ahmad Yasin</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="people-style-head">
             <img src="../assets/images/people.png">
              <div class="meta-people-desc">
                <p>Jhone Sencoer</p>
              </div>
            </div>
          </div> 
          <div class="col-md-4">
            <div class="people-style-head">
             <img src="../assets/images/people.png">
              <div class="meta-people-desc">
                <p>Jhon Doe</p>
              </div>
            </div>
          </div> 
          <div class="col-md-4">
            <div class="upload-vidio" data-toggle="modal" data-target="#mypeople">
              <div class="row">
                <div class="col-md-4">
                  <img src="../assets/images/show.png">
                </div>
                <div class="col-md-8 text-left">
                  <label>Show</label>
                  <p>Your Work</p>
                </div>
              </div>
            </div>
          </div>  
        </div>
        <!-- END PEOPLE SECTION -->
        <!-- DOCUMENT SECTION -->
        <div class="row documents-section">
          <div class="col-md-8">
            <div class="meta-title">
              <label>Documents</label>
              <a href=""><p>Browse all documents</p></a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="vidio-style-head">
              <img class="head-image" src="../assets/images/documents.png">
              <div class="meta-vidio-desc">
                <label>How to improve your skills</label>
                <p>WaseermArshad</p>
                <p class="viewersvidio">1231 Views</p>
              </div>
            </div>
          </div>  
          <div class="col-md-4">
            <div class="documents-style-head">
             <img src="../assets/images/documents.png">
              <div class="meta-documents-desc">
                <p>MichaelKnight</p>
                <p class="viewersvidio">1231 Views</p>
              </div>
            </div>
            <div class="documents-style-head">
            <img src="../assets/images/documents.png">
              <div class="meta-documents-desc">
                <p>AhmadYasin</p>
                <p class="viewersvidio">2351 Views</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="documents-style-head">
             <img src="../assets/images/documents.png">
              <div class="meta-documents-desc">
                <p>Jhone Sencoer</p>
                <p class="viewersvidio">4351 Views</p>
              </div>
            </div>
          </div> 
          <div class="col-md-4">
            <div class="documents-style-head">
             <img src="../assets/images/documents.png">
              <div class="meta-documents-desc">
                <p>Jhon Doe</p>
                <p class="viewersvidio">232 Views</p>
              </div>
            </div>
          </div> 
          <div class="col-md-4">
            <div class="upload-vidio" data-toggle="modal" data-target="#mydocuments">
              <div class="row">
                <div class="col-md-4">
                  <img src="../assets/images/plus.png">
                </div>
                <div class="col-md-8 text-left">
                  <label>Share</label>
                  <p>Your Document</p>
                </div>
              </div>
            </div>
          </div>  
        </div>
        <!-- END DOCUMENT SECTION -->
      </div>
      <div class="col-md-4">
        <div class="activity-section">
          <div class="meta-title with-undrln">
            <label>Activity</label>
            <a href=""><p>View timeline / Filter activity</p></a>
          </div>
          <div class="row item-activity">
            <div class="col-md-4">
              <img src="../assets/images/play.png">
            </div>
            <div class="col-md-8">
              <div class="activity-desc">
                <label>Jhon Stanior</label><span>Comemnted</span>
                <p>Well, I'am likeking it how captures the..</p>
                <i class="fa fa-comment"></i><span>2 second ago</span>
              </div>
            </div>
          </div>
          <div class="row item-activity">
            <div class="col-md-4">
              <img src="../assets/images/play.png">
            </div>
            <div class="col-md-8">
              <div class="activity-desc">
                <label>Jhon Stanior</label><span>Comemnted</span>
                <p>Well, I'am likeking it how captures the..</p>
                <i class="fa fa-comment"></i><span>2 second ago</span>
              </div>
            </div>
          </div>
          <div class="row item-activity">
            <div class="col-md-4">
              <img src="../assets/images/play.png">
            </div>
            <div class="col-md-8">
              <div class="activity-desc">
                <label>Jhon Stanior</label><span>Comemnted</span>
                <p>Well, I'am likeking it how captures the..</p>
                <i class="fa fa-comment"></i><span>2 second ago</span>
              </div>
            </div>
          </div>
          <div class="row item-activity">
            <div class="col-md-4">
              <img src="../assets/images/play.png">
            </div>
            <div class="col-md-8">
              <div class="activity-desc">
                <label>Jhon Stanior</label><span>Comemnted</span>
                <p>Well, I'am likeking it how captures the..</p>
                <i class="fa fa-comment"></i><span>2 second ago</span>
              </div>
            </div>
          </div>
          <div class="row item-activity">
            <div class="col-md-4">
              <img src="../assets/images/play.png">
            </div>
            <div class="col-md-8">
              <div class="activity-desc">
                <label>Jhon Stanior</label><span>Comemnted</span>
                <p>Well, I'am likeking it how captures the..</p>
                <i class="fa fa-comment"></i><span>2 second ago</span>
              </div>
            </div>
          </div>
          <div class="row item-activity">
            <div class="col-md-4">
              <img src="../assets/images/play.png">
            </div>
            <div class="col-md-8">
              <div class="activity-desc">
                <label>Jhon Stanior</label><span>Comemnted</span>
                <p>Well, I'am likeking it how captures the..</p>
                <i class="fa fa-comment"></i><span>2 second ago</span>
              </div>
            </div>
          </div>
          <hr class="hr-style">
        </div>
        <div>
          <div class="meta-title with-undrln">
            <label>Channel</label>
            <a href=""><p>Browse all channels</p></a>
          </div>
          <div class="row channel-activity">
            <div class="col-md-6">
              <div class="chanel-item">
                <img src="../assets/images/chanel.png">
                <label>Google</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chanel-item">
                <img src="../assets/images/chanel.png">
                <label>Google</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chanel-item">
                <img src="../assets/images/chanel.png">
                <label>Google</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chanel-item">
                <img src="../assets/images/chanel.png">
                <label>Google</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chanel-item">
                <img src="../assets/images/chanel.png">
                <label>Google</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chanel-item">
                <img src="../assets/images/chanel.png">
                <label>Google</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chanel-item">
                <img src="../assets/images/chanel.png">
                <label>Google</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chanel-item">
                <img src="../assets/images/chanel.png">
                <label>Google</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chanel-item">
                <img src="../assets/images/chanel.png">
                <label>Google</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chanel-item">
                <img src="../assets/images/chanel.png">
                <label>Google</label>
              </div>
            </div>
          </div>
          <hr class="hr-style">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="head-section">
    <div class="row">
      <div class="shared-section">
        <div class="item-sosmed">
          <i class="fa fa-twitter"></i>
        </div>
        <div class="item-sosmed">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="item-sosmed">
          <i class="fa fa-linkedin"></i>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>