body{
  background: #953e46;
}

.head-section{
  margin: 30px 0px;
}

.brand-name h3{
  color: #f3e4cf;
  font-weight: 400;
}

.brand-name span{
  color: #f3e4cf;
  font-weight: 100;
}

.form-style{
  border: 1px white;
  border-radius: 0px;
  background: #f3e4cf;
}

::placeholder {
  color: #953e46;
  opacity: 1; /* Firefox */
}

.btn-outline-white {
    color: #953e46;
    background-color: #f3e4cf;
    border-color: #f3e4cf;
    border-radius: 0px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none; 
}

.img-profile img{
  width: 39px;
  float: left;
  margin-right: 10px;
}

.name-style{
  color: #f3e4cf;
  margin: -4px;
  font-weight: 500;
}

.lastnm-style{
  font-size: 14px;
  color: #f3e4cf;
  font-weight: 100;
}

.meta-name{
  position: relative;
}

.inbox-value{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 23px;
  border-radius: 100%;
  background: #f3e4cf;
  padding: 2px;
  text-align: center;
  height: 23px;
  font-size: 12px;
  font-weight: 700;
  color: #953e46;
}

.bradscrum-style{
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid #f3e4cf;
  border-bottom: 1px solid #f3e4cf;
}

.footer-link-style{
  padding-top: 10px;
  padding-bottom: 5px;
}

.vidio-style-head{
  background: #f3e4cf;
  position: relative;
  margin-bottom: 20px;
}

.bradscrum-style label a, .bradscrum-style span{
  font-size: 22px;
  font-weight: 300;
  color: #f3e4cf;
  margin-right: 15px;
}

.footer-link-style label a, .footer-link-style span{
  font-size: 15px;
  font-weight: 300;
  color: #f3e4cf;
  margin-right: 15px;
}


.vidio-style-head iframe{
  width: 100%;
  height: 136px;
}

.head-frame{
  height: 300px !important;
}

.head-image{
  height: 305px !important;
  width: 100%;
}

.meta-vidio-desc{
  padding: 0px 20px 15px;
}

.meta-vidio-desc  .title{
  font-size: 20px;
  font-weight: 500;
  color: #953e46;
  margin: 0px;
}

.meta-vidio-desc p{
  font-weight: 500;
  margin: 0px;
  color: #953e46;
  font-size: 12px;
}

.viewersvidio{
  position: absolute;
  bottom: 15px;
  right: 28px;
  font-weight: 500;
}

.height-head-vidio{
  height: 280px;
}

.upload-vidio img{
  width: 80%;
  margin-left: 30px;
  margin-top: 3px;
}

.upload-vidio{
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  border: solid 2px #f3e4cf;
  padding: 53px 0px;
  background: #953e46;
  cursor: pointer;
}

.upload-vidio label{
  font-size: 16px;
  font-weight: 500;
  color: #f3e4cf;
  margin: 0px;
}

.upload-vidio p{
  color: #f3e4cf;
}

.text-left{
  text-align: left;
}

.video-section, .people-section, .documents-section{
  margin-bottom: 20px;
}

.activity-section{
  padding-bottom: 20px;
}

.item-activity{
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 2px #953e46;
  position: relative;
}

.item-activity img{
  float: left;
  width: 100%;
}

.with-undrln{
  border-bottom: solid #f3e4cf;
  margin-bottom: 20px
}

.activity-desc{
  color: #f3e4cf;
}

.activity-desc label{
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 0px;
}

.activity-desc span , .activity-desc  p{
  font-size: 12px;
  margin: 0px;
}

.activity-desc i{
  margin-right: 10px;
}


.hr-style{
  border-bottom: solid #f3e4cf;
}

.documents-style-head{
  background: #f3e4cf;
  position: relative;
  margin-bottom: 20px;
}

.people-style-head , .documents-style-head{
  margin-bottom: 20px;
}

.people-style-head img{
  width: 100%;
  height: 138px;
  z-index: 0;
  object-fit: cover;
}

.documents-style-head img{
  width: 100%;
  height: 120px;
  z-index: 0;
  object-fit: cover;
}

.meta-people-desc , .meta-documents-desc{
  padding: 0px 20px 15px;
  background: #f3e4cf;
}

.meta-people-desc a p, .meta-documents-desc a p{
  font-weight: 700;
  margin: 0px;
  color: #953e46;
  font-size: 14px;
}

.meta-people-desc p, .meta-documents-desc p{
  font-weight: 500;
  margin: 0px;
  color: #953e46;
  font-size: 12px;
}

.meta-documents-desc label{
    font-size: 14px;
    font-weight: 600;
    color: #953e46;
    margin: 0px;
}

.chanel-item{
  background: #f3e4cf;
  margin-bottom: 20px;
}

.chanel-item img{
  width: 100%;
  height: 90px;
  object-fit: cover;
}


.chanel-item label{
  font-size: 18px;
  font-weight: 500;
  color: #953e46;
  margin: 0px;
  padding: 0px 10px 10px;
}

.item-sosmed{
  background: #f3e4cf;
  border-radius: 5px;
  width: 35px;
  text-align: center;
  height: 35px;
  padding: 5px;
  float: left;
  margin-right: 10px;
}

.item-sosmed a{
  color: #953e46;
}

.shared-section{
  padding: 20px 0px;
  border-top: solid #f3e4cf;
}
.Copyright{
  color: #f3e4cf;
}

.item-activity:hover{
  border: solid 2px #f3e4cf;
}

.item-activity:hover::before{
  content: "X";
  transform: rotate(44deg);
  color: #953e46;
  position: absolute;
  border-color: transparent transparent #f3e4cf transparent;
  border-style: solid;
  right: -25px;
  width: 0px;
  text-align: center;
  top: -25px;
  border-width: 0 25px 25px 25px;
}

.item-activity:hover::after{
  content: "X";
  color: #953e46;
  position: absolute;
  right: -1px;
  width: 20px;
  font-weight: 700;
  text-align: center;
  top: -3px;
}

.mt-60{
  margin-top: 60px;
}

.chanel-item:hover::before{
  content: "X";
  transform: rotate(45deg);
  color: #953e46;
  position: absolute;
  border-color: transparent transparent #953e46 transparent;
  border-style: solid;
  right: -10px;
  width: 0px;
  text-align: center;
  top: -25px;
  border-width: 0 25px 25px 25px;
}

.chanel-item:hover::after{
  content: "+";
  color: #f3e4cf;
  position: absolute;
  right: 13px;
  width: 20px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  top: -7px;
}

.upload-box{
  text-align: left;
}

.modal-header{
  background: #953e46;
  color: white;
}

.btn-primaryv2 {
    color: #fff;
    background-color: #953e46;
    border-color: #953e46;
}






@media (min-width: 1400px){

}

@media (min-width: 1200px){

}

@media (max-width: 1024px){
  .upload-vidio{
      width: 100%;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      border: solid 2px #f3e4cf;
      padding: 54px 0px;
      cursor: pointer;
  }
  .upload-vidio p{
    color: #f3e4cf;
    font-size: 14px;
  }
  .meta-people-desc a p, .meta-documents-desc a p {
    font-weight: 700;
    margin: 0px;
    color: #953e46;
    font-size: 11px;
  }
  .documents-style-head img {
      width: 100%;
      height: 125px;
      z-index: 0;
      -o-object-fit: cover;
      object-fit: cover;
  }
  .activity-desc span, .activity-desc p {
      font-size: 10px;
      margin: 0px;
  }
  .chanel-item label {
      font-size: 14px;
      font-weight: 500;
      color: #953e46;
      margin: 0px;
      padding: 0px 10px 10px;
  }
  .activity-section{
      padding-bottom: 20px;
      margin-bottom: 45px;
  }
}


@media only screen and (max-width: 768px) {
  .meta-title label {
      font-size: 20px;
      font-weight: 400;
      color: #f3e4cf;
      float: left;
  }
  .bradscrum-style label a, .bradscrum-style span {
      font-size: 16px;
      font-weight: 300;
      color: #f3e4cf;
      margin-right: 15px;
  }
  .btn-style-nav {
      width: 100%;
      color: #953e46;
      padding: 7px 10px;
      font-size: 15px;
      background-color: #f3e4cf;
      border: none;
  }
  .name-style{
      color: #f3e4cf;
      margin: -4px;
      font-weight: 500;
      font-size: 10px;
  }
  .lastnm-style{
      font-size: 12px;
      color: #f3e4cf;
      font-weight: 100;
  }
  .inbox-value{
      position: absolute;
      right: -27px;
      top: 0px;
      width: 23px;
      border-radius: 100%;
      background: #f3e4cf;
      padding: 2px;
      text-align: center;
      height: 23px;
      font-size: 12px;
      font-weight: 700;
      color: #953e46;
  }
}

@media screen and (max-width: 425px){
  .brand-name{
    text-align: center;
  }
  .inbox-value{
      position: absolute;
      left: 100px;
      top: 0px;
      width: 23px;
      border-radius: 100%;
      background: #f3e4cf;
      padding: 2px;
      text-align: center;
      height: 23px;
      font-size: 12px;
      font-weight: 700;
      color: #953e46;
  }
  .bradscrum-style label a, .bradscrum-style span {
      font-size: 7px;
      font-weight: 300;
      color: #f3e4cf;
      margin-right: 15px;
  }
  .upload-vidio{
      width: 100%;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      border: solid 2px #f3e4cf;
      padding: 10px 0px;
      cursor: pointer;
  }
  .upload-vidio img {
      width: 12%;
      margin-left: 3px;
      margin-top: 0px;
  }
  .upload-box{
    text-align: center;
  }
  .footer-link-style {
      padding-top: 10px;
      padding-bottom: 5px;
      text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  
}